* {
  margin: 0;
  user-select: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  filter: drop-shadow(2px 4px 6px black);
  background-image: url(@/assets/background.png);
  background-size: cover;
  font-family: monospace;
}

video {
  width: 100vw;
  height: 100vh;
}

.phone {
  position: absolute;
  z-index: 999;
  margin: 1rem;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.hidden {
  display: none;
}

.volume {
  flex-direction: column;
  display: none;
  color: #fff;
  font-size: 16px;
}

.phone:hover > .volume {
  display: flex;
}
